@font-face {
  font-family: 'couture';
  src: url(fonts/COUTURE-Bold.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.searchDiv {
  margin: 30px 30px 20px;
}

#input {
  height: 35px;
  font-size: 1.1rem;
  border-radius: 12px;
  border-style: none;
  text-align: center;
  margin-right: 12px;
}

#searchBtn {
  color: white;
  background: none;
  height: 30px;
  border-color: white;
  border-radius: 12px;
}
#searchBtn:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.display {
  border: 2px solid white;
  border-radius: 12px;
  margin: 0px 20px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  min-width: 300px;
}

#name {
  text-transform: uppercase;
  font-family: 'couture', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

#time {
  margin-top: -20px;
  font-size: 0.8rem;
}

#temp {
  font-family: 'couture', sans-serif;
  font-size: 3rem;
  margin-bottom: -35px;
}

img {
  border-radius: 12px;
}

#feelsLike,
#description,
#uv {
  border: 1px solid white;
  border-radius: 12px;
  padding: 10px;
}

#unitBtn {
  border-style: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  align-self: flex-end;
}
#unitBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.loaderContainer {
  background-color: black;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  visibility: hidden;
}

.loaderContainer.visible {
  visibility: visible;
}

#loader {
  border: 10px solid black;
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  img {
    max-width: 300px;
  }
}
